body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: hsl(235, 21%, 11%);
  overflow-y: hidden;
  font-Family: "Josefin Sans";
  font-size: 18px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#bg-desktop-img {
  width: 100vw;
  margin: 0;
  padding: 0;
}

#to-do-header {
  color: white;
  font-size: 40px;
  letter-spacing: 25px;
  max-height: 2vh;
}

#top-section {
  display: flex;
  justify-content: space-between;
  width: -moz-max-content;
  width: max-content;
  min-width: 40vw;
  width: 40vw;
  z-index: 2;
  position: relative;
  bottom: 250px;
  align-items: baseline;
}

button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
}

#add-new-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 40vw;
  z-index: 2;
  position: relative;
  bottom: 220px;
  align-items: center;
}

.task {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
  justify-content: baseline;
  text-align: center;
  background-color: hsl(235, 24%, 19%);
  width: 40vw;
  min-width: auto;
  justify-content: flex-start;
  border: 1px solid hsl(237, 14%, 26%);
  border-radius: 5px;
}

.task label {
  border: 1px solid hsl(237, 14%, 26%);
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 28px;
  /*  */
  margin: 10;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden;
}

.task label:hover {
  border: 1px solid hsl(234, 39%, 85%);
}

.task label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.task input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}

.task input[type=checkbox]:checked + label {
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.task input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.task input[type=text] {
  background: transparent;
  border: none;
  font-family: "Josefin Sans";
  font-size: 18px;
  color: white;
  margin-left: 20px;
  width: 90%;
  text-transform: capitalize;
}

.task input[type=text]::-moz-placeholder {
  color: hsl(234, 11%, 52%);
  margin-left: 10%;
}

.task input[type=text]::placeholder {
  color: hsl(234, 11%, 52%);
  margin-left: 10%;
}

.task input[type=text]:focus {
  outline: none;
}

.task button {
  position: absolute;
  right: 0px;
}

#all-tasks {
  width: 40vw;
  min-width: 40vw;
  z-index: 2;
  position: relative;
  bottom: 200px;
  align-items: center;
}

#all-tasks .task {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}

#all-tasks .task:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

#all-tasks .task:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.task p {
  display: inline-block;
  background: transparent;
  border: none;
  font-family: "Josefin Sans";
  font-size: 18px;
  color: hsl(234, 11%, 52%);
  margin-left: 20px;
  margin-right: 20px;
  text-transform: capitalize;
  height: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.task p:hover {
  color: hsl(234, 39%, 85%);
}

.special {
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.special p {
  display: inline;
  font-size: 18px;
  margin: 0;
}

.special button {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline;
  font-size: 18px;
  font-family: "Josefin Sans";
  font-weight: 400, 700;
  color: hsl(234, 11%, 52%);
}

.special button:last-child {
  margin-left: 5px;
  margin-right: 5px;
  width: 25%;
}

.special button:hover {
  color: hsl(234, 39%, 85%);
}

.special button:active {
  color: hsl(220, 98%, 61%);
}

.x_button {
  display: none;
}


@media screen and (max-width: 600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .task {
    width: 90vw;
    font-size: small;
  }
  #all-tasks {
    width: 90vw;
  }
  #bg-desktop-img {
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    height: 35%;
  }
  #top-section {
    margin: auto;
    margin-top: 100%;
    width: 90%;
  }
  .special #middle_button {
    font-size: 10px;
    display: none;
  }
  .special p {
    font-size: 10px;
  }
  .special button {
    font-size: 10px;
  }
}/*# sourceMappingURL=styles.css.map */